@use "../../../../shared/default" as default;
@use "../../../../shared/purple" as purpleTheme;
@use 'sass:color';

@font-face {
  font-family: Maax;
  src: url("../../../../shared/Maax.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("../../../../shared/Inter.woff2") format("woff2");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
  user-select: none;
}

@mixin theme(
  $theme-name,
  $bg,
  $bg-lighter,
  $bg-dark,
  $egg,
  $egg-light,
  $primary,
  $primary-light,
  $danger,
  $danger-light,
  $success,
  $success-light,
  $text-color,
  $text-color-dark,
  $text-color-light,
  $icon-color,
  $element-icon-color,
  $element-hover,
  $element-hover-icon-color,
  $border-color,
  $border-color-darker,
  $border-hover-color,
  $tabs-color,
  $tabs-active-color,
  $tabs-active-shadow,
  $tabs-active-border,
  $popup-color,
  $popup-opaque-color,
  $popup-hover-color,
  $popup-shadow,
  $popup-border,
  $popup-border-color,
  $button-color,
  $button-shadow,
  $button-border,
  $button-hover-color,
  $button-hover-border
) {
  html.#{$theme-name} {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: $bg;
    color: $text-color;
    min-width: 300px;
    font-family: Inter;
    body {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .preserve-position {
      width: 700px;
      height: 537px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;

      .header {
        position: absolute;
        top: -80px;

        font-size: 40px;
        color: $bg;
        filter: brightness(150%);
      }

      .search-container {
        background-color: $popup-opaque-color;
        background-size: cover;
        border: $popup-border;
        box-shadow: $popup-shadow;
        width: 700px;
        padding: 10px;
        border-radius: 8px;
        height: max-content;
        transition: 0.2s;
        scale: 0.8;
        opacity: 0.2;
        animation: show 0.3s cubic-bezier(0.7, 0, 0.7, 1) 0s 1 forwards;

        .search-bar {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;

          .send,
          .icon {
            user-select: none;
            cursor: pointer;
            color: $icon-color;
          }

          .before {
            color: $text-color-dark;
            margin-right: 5px;
            margin-left: 10px;
            font-family: Inter;
            font-size: 18px;
            height: 100%;
          }

          .input {
            width: calc(100% - 40px);
            padding-right: 20px;
            color: $text-color;
            background: transparent;
            border: none;
            outline: none;
            font-family: Inter;
            font-size: 18px;
            caret-color: $text-color;

            &::placeholder {
              color: $text-color-dark;
            }
          }
        }

        hr {
          border: none;
          border: 1px solid $border-color;
          border-radius: 2px;
          outline: none;
          margin: 5px;
          width: calc(100% - 20px);
          margin-inline: 10px;
        }

        .search-results {
          width: calc(100% - 20px);
          margin: 10px;
          user-select: none;
          height: 400px;
          transition: 0.1s;

          .result {
            display: flex;
            width: 100%;
            padding-inline: 10px;
            height: 50px;
            border-radius: 6px;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: 0.2s;

            &.selected-result,
            &:hover {
              background-color: $element-hover;
            }

            .icon {
              height: 25px !important;
              aspect-ratio: 1 / 1;
              border-radius: 2px;

              border-radius: 4px;

              display: grid;
              place-items: center;
              text-transform: uppercase;
            }

            .text {
              font-size: 16px;
              width: calc(100% - 5px);
              overflow: hidden;
              margin-right: 5px;
              color: $text-color-light;
              text-transform: capitalize;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              .desc {
                font-size: 14px;
                overflow: hidden;
                text-transform: lowercase;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: $text-color;
                font-weight: 100;
              }
            }

            &.extension {
              .text {
                .desc {
                  text-transform: none;
                }
              }
            }

            .qa-icon {
              height: 30px !important;
              aspect-ratio: 1 / 1;

              color: $icon-color;

              display: grid;
              place-items: center;

              font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24 !important;

              &.favorite {
                color: $egg;
              }
            }

            &.always-select {
              background-color: $danger-light;

              .qa-icon {
                color: $icon-color;
              }

              .text {
                color: $text-color-light;
                .desc {
                  color: $text-color;
                }
              }
            }
          }
        }

        .footer {
          display: grid;
          grid-template-columns: repeat(4, calc(100% / 4));
          width: calc(100% - 20px);
          margin: 15px;
          user-select: none;
          margin-bottom: 5px;
          margin-inline: 10px;
          align-items: center;
          justify-content: center;
          color: $icon-color;

          .rcount {
            justify-self: end;
            font-size: 14px;
            color: $text-color-dark;
          }

          .key {
            display: flex;
            gap: 5px;
            align-items: center;

            .text {
              font-size: 13px;
              font-weight: 300;
            }
            .button {
              align-items: center;
              background: $button-color;
              border: 0;
              border-radius: 3px;
              border: $button-border;
              box-shadow: $button-shadow !important;
              color: $text-color-dark;
              display: flex;
              justify-content: center;
              margin-right: 4px;
              padding: 4px;
              box-sizing: border-box;
              width: max-content;
              position: relative;
              font-size: 14px;
              transition: 0.2s;
            }
          }
        }
      }
    }

    .logo {
      position: absolute;
      left: 10px;
      bottom: 10px;
      width: 40px;
      height: 40px;
      transition: 0.2s;
      cursor: pointer;
      background: url("../../assets/icons/512x512_Outlined.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      &:hover {
        background: url("../../assets/icons/512x512.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        box-shadow: $popup-shadow;
      }
    }

    .context-menu {
      user-select: none;
      position: absolute;
      background-color: $popup-opaque-color;
      border-radius: 8px;
      backdrop-filter: blur(10px);
      border: $popup-border;
      top: 70px;
      left: calc(100% - 10px);
      font-size: 16px;
      display: none;
      flex-direction: column;
      color: $text-color-light;
      min-width: 160px;
      padding-top: 4px;
      padding-bottom: 4px;
      box-shadow: $popup-shadow;

      .menu-separator {
        height: 1px;
        margin: 4px;
        margin-inline: 0px;
        background-color: $popup-border-color;
      }

      .menu-item {
        display: flex;
        margin-inline: 4px;
        padding: 5px;
        padding-right: 5px;
        padding-left: 10px;
        gap: 8px;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        transition: 0.1s;
        height: 35px;

        .menu-item-icon {
          color: $text-color-dark;
          font-size: 20px;
        }

        .menu-item-text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin-right: 5px;
          text-wrap: nowrap;
          white-space: nowrap;

          .keys {
            display: flex;
            gap: 5px;
            margin-left: 10px;
            display: none;
          }

          .key {
            align-items: center;
            background: $button-color;
            border: 0;
            border-radius: 3px;
            border: $button-border;
            box-shadow: $button-shadow !important;
            color: $text-color-dark;
            display: flex;
            justify-content: center;
            padding: 4px;
            height: 100%;
            box-sizing: border-box;
            width: max-content;
            position: relative;
            font-size: 11px;
            transition: 0.2s;
          }
        }

        &.favorite {
          color: $egg;

          .menu-item-icon {
            color: $egg;
            font-size: 20px;
          }

          &:hover,
          &.selected {
            background-color: $egg-light;
          }
        }

        &.link {
          color: $primary;

          .menu-item-icon {
            color: $primary;
            font-size: 20px;
          }

          &:hover,
          &.selected {
            background-color: $primary-light;
          }
        }

        &.ok {
          color: $success;

          .menu-item-icon {
            color: $success;
            font-size: 20px;
          }

          &:hover,
          &.selected {
            background-color: $success-light;
          }
        }

        &.danger {
          color: $danger;

          .menu-item-icon {
            color: $danger;
            font-size: 20px;
          }

          &:hover,
          &.selected {
            background-color: $danger-light;
          }
        }

        &:hover,
        &.selected {
          background-color: $popup-hover-color;
        }

        &.disabled {
          pointer-events: none;

          .menu-item-text,
          .menu-item-icon {
            color: $text-color-dark !important;
          }
        }
      }
    }

    .overlay {
      position: absolute;
      z-index: 1000;
      background-color: $popup-opaque-color;
      backdrop-filter: blur(8px);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;

      Button {
        padding: 12px;
        padding-inline: 28px;
        border-radius: 12px;
        color: $text-color;
        font-size: 20px;
        transition: 0.2s;
        display: flex;
        gap: 10px;
        align-items: center;
        position: relative;

        &.confirm {
          border: 2px solid $success;
          background-color: $success-light;

          &:hover {
            background-color: $success;
            color: $text-color-light;
          }
        }

        &.cancel {
          border: 2px solid $danger;
          background-color: $danger-light;

          &:hover {
            background-color: $danger;
            color: $text-color-light;
          }
        }

        .key {
          align-items: center;
          background: $button-color;
          border: 0;
          border-radius: 3px;
          border: $button-border;
          box-shadow: $button-shadow !important;
          color: $text-color-dark;
          display: flex;
          justify-content: center;
          padding: 4px;
          box-sizing: border-box;
          width: max-content;
          position: relative;
          font-size: 12px;
          transition: 0.2s;
          position: absolute;
          right: -10px;
          bottom: -10px;
        }
      }
    }
  }
}

@include theme(
  default-theme,
  default.$bg,
  default.$bg-lighter,
  default.$bg-dark,
  default.$egg,
  default.$egg-light,
  default.$primary,
  default.$primary-light,
  default.$danger,
  default.$danger-light,
  default.$success,
  default.$success-light,
  default.$text-color,
  default.$text-color-dark,
  default.$text-color-light,
  default.$icon-color,
  default.$element-icon-color,
  default.$element-hover,
  default.$element-hover-icon-color,
  default.$border-color,
  default.$border-color-darker,
  default.$border-hover-color,
  default.$tabs-color,
  default.$tabs-active-color,
  default.$tabs-active-shadow,
  default.$tabs-active-border,
  default.$popup-color,
  default.$popup-opaque-color,
  default.$popup-hover-color,
  default.$popup-shadow,
  default.$popup-border,
  default.$popup-border-color,
  default.$button-color,
  default.$button-shadow,
  default.$button-border,
  default.$button-hover-color,
  default.$button-hover-border
);

@include theme(
  purple-theme,
  purpleTheme.$bg,
  purpleTheme.$bg-lighter,
  purpleTheme.$bg-dark,
  purpleTheme.$egg,
  purpleTheme.$egg-light,
  purpleTheme.$primary,
  purpleTheme.$primary-light,
  purpleTheme.$danger,
  purpleTheme.$danger-light,
  purpleTheme.$success,
  purpleTheme.$success-light,
  purpleTheme.$text-color,
  purpleTheme.$text-color-dark,
  purpleTheme.$text-color-light,
  purpleTheme.$icon-color,
  purpleTheme.$element-icon-color,
  purpleTheme.$element-hover,
  purpleTheme.$element-hover-icon-color,
  purpleTheme.$border-color,
  purpleTheme.$border-color-darker,
  purpleTheme.$border-hover-color,
  purpleTheme.$tabs-color,
  purpleTheme.$tabs-active-color,
  purpleTheme.$tabs-active-shadow,
  purpleTheme.$tabs-active-border,
  purpleTheme.$popup-color,
  purpleTheme.$popup-opaque-color,
  purpleTheme.$popup-hover-color,
  purpleTheme.$popup-shadow,
  purpleTheme.$popup-border,
  purpleTheme.$popup-border-color,
  purpleTheme.$button-color,
  purpleTheme.$button-shadow,
  purpleTheme.$button-border,
  purpleTheme.$button-hover-color,
  purpleTheme.$button-hover-border
);

@keyframes show {
  from {
    scale: 0.8;
    opacity: 0.2;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
