@use "../shared/default" as s;

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: s.$bg;
  color: s.$text-color;
  min-width: 300px;
  font-family: Inter;

  body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      width: clamp(300px, 40%, 1000px);

      .download {
        background-color: s.$button-color;
        box-shadow: s.$button-shadow;
        width: max-content;
        padding: 12px;
        padding-inline: 24px;
        border-radius: 8px;
        border: s.$button-border;
        cursor: pointer;
        transition: .2s;
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
          background-color: s.$button-hover-color;
          border: s.$button-hover-border;
        }
      }
    }

    .confetti{
      display: block;
      user-select: none;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 100;
   }
  }
}
