$bg: #181a24;
$bg-lighter: #1b1d2b;
$bg-dark: #151621;

$egg: #f4bb29;
$egg-light: #f4bb2930;

$primary: #565ac7;
$primary-light: #575ac630;
$danger: #eb5757;
$danger-light: #eb575730;
$success: #4cb782;
$success-light: #4cb78230;

$text-color: #d1d3e1;
$text-color-dark: #858699;
$text-color-light: #eeeffc;

$icon-color: #4c4f6b;

$element-icon-color: #858699;
$element-hover: #262736;
$element-hover-icon-color: #eeeffc;

$border-color: #2c2d3c;
$border-color-darker: #212234;
$border-hover-color: #4c4f6b;

$tabs-color: #21232e;
$tabs-active-color: #2c2d3c;
$tabs-active-shadow: 0px 2px 4px #0000001a;
$tabs-active-border: 1px solid #313248;

$popup-background: #20212e;
$popup-color: #242631;
$popup-opaque-color: #1d1e2b7f;
$popup-bg-color: #1a1c27;
$popup-hover-color: #7c7ca320;
$popup-shadow: 0px 4px 24px #00000033;
$popup-border: 1px solid #52526f70;
$popup-border-color: #52526f70;

$button-color: #272939;
$button-shadow: 0px 2px 4px #0000001a;
$button-border: 1px solid #313248;

$button-hover-color: #2b2c44;
$button-hover-border: 1px solid #3e3e4a;

/* ------------------------------------------- */

$light-bg: #f2f8fc;
$light-bg-lighter: #1b1d2b;
$light-bg-dark: #151621;

$light-egg: #f4bb29;
$light-egg-light: #f4bb2930;

$light-primary: #565ac7;
$light-primary-light: #575ac630;
$light-danger: #eb5757;
$light-danger-light: #eb575730;
$light-success: #4cb782;
$light-success-light: #4cb78230;

$light-text-color: #131313;
$light-text-color-dark: #a7a7a7;
$light-text-color-light: #000000;

$light-icon-color: #3a3a3a;

$light-element-icon-color: #858699;
$light-element-hover: #d4d4d4;
$light-element-hover-icon-color: #eeeffc;

$light-border-color: #2c2d3c;
$light-border-color-darker: #212234;
$light-border-hover-color: #4c4f6b;

$light-tabs-color: #21232e;
$light-tabs-active-color: #2c2d3c;
$light-tabs-active-shadow: 0px 2px 4px #0000001a;
$light-tabs-active-border: 1px solid #313248;

$light-popup-background: #eaeaea;
$light-popup-color: #eaeaea;
$light-popup-opaque-color: #eaeaea7f;
$light-popup-bg-color: #eef1f3;
$light-popup-hover-color: #7c7ca320;
$light-popup-shadow: 0px 4px 24px #00000033;
$light-popup-border: 1px solid #38383870;
$light-popup-border-color: #52526f70;

$light-button-color: #000000;
$light-button-shadow: 0px 2px 4px #0000001a;
$light-button-border: 1px solid #6b6b6b;

$light-button-hover-color: #2b2c44;
$light-button-hover-border: 1px solid #3e3e4a;