$bg: #181A24;
$bg-lighter: #1b1d2b;
$bg-dark: #151621;

$egg: #F4BB29;
$egg-light: #F4BB2930;

$primary: #565ac7;
$primary-light: #575ac630;
$danger: #eb5757;
$danger-light: #eb575730;
$success: #4cb782;
$success-light: #4cb78230;

$text-color: #d1d3e1;
$text-color-dark: #858699;
$text-color-light: #eeeffc;

$icon-color: #4c4f6b;

$element-icon-color: #858699;
$element-hover: #262736;
$element-hover-icon-color: #eeeffc;

$border-color: #2c2d3c;
$border-color-darker: #212234;
$border-hover-color: #4c4f6b;

$tabs-color: #21232e;
$tabs-active-color: #2c2d3c;
$tabs-active-shadow: 0px 2px 4px #0000001a;
$tabs-active-border: 1px solid #313248;

$popup-color: #242631;
$popup-opaque-color: #1d1e2b7f;
$popup-hover-color: #7c7ca320;
$popup-shadow: 0px 4px 24px #00000033;
$popup-border: 1px solid #52526f70;
$popup-border-color: #52526f70;

$button-color: #272939;
$button-shadow: 0px 2px 4px #0000001a;
$button-border: 1px solid #313248;

$button-hover-color: #2b2c44;
$button-hover-border: 1px solid #3e3e4a;