$bg: #191A23;
$bg-lighter: #1c1d2a;
$bg-dark: #151621;

$primary: #575ac6;
$danger: #eb5757;
$success: #4cb782;

$text-color: #d2d3e0;
$text-color-dark: #858699;
$text-color-light: #eeeffc;

$element-icon-color: #858699;
$element-hover: #262736;
$element-hover-icon-color: #eeeffc;

$border-color: #2c2d3c;
$border-color-darker: #212234;
$border-hover-color: #4c4f6b;

$tabs-color: #21232e;
$tabs-active-color: #2c2d3c;
$tabs-active-shadow: 0px 2px 4px #0000001a;
$tabs-active-border: 1px solid #313248;

$poup-color: #242631;
$pupup-opaque-color: #1d1e2b7f;
$poup-hover-color: #2f313e;
$popup-shadow: 0px 4px 24px #00000033;
$pupup-border: 1px solid #52526f70;

$button-color: #272939;
$button-shadow: 0px 2px 4px #0000001a;
$button-border: 1px solid #313248;

$button-hover-color: #2b2c44;
$button-hover-border: 1px solid #3e3e4a;